.folder__content {
    display: none;
    flex-direction: column;
    margin: 0.5rem 1.5rem;  
  }
  
  .visible{
    display: flex;
  } 
  
  .folder{
    display: flex;
    flex-direction: column;
    border-left: 0.05rem dashed $color-grey;
  
    &:before {
      content: "";
      position: absolute;
      width: 1rem;
      height: 0.5rem;
      border-bottom: 0.01rem dashed $color-grey;
    }
  
    &:last-child{
      &:before {
        border-left: 0.01rem dashed $color-grey;
      }
    }
  
    &:last-child{
      border-left: none;
    }
  
    &__name {
      margin: 0rem;
    }
  
    &__span {
      width: 1.5rem;
      height: 1.5rem;
      background: url(../../assets/img/folder.png);
      background-size: contain;
    }

    &__span_active {
      background: url(../../assets/img/open-folder.png);
      background-size: contain;
    }
    
    &__file {
      width: 1.5rem;
      height: 1.5rem;
      background: url(../../assets/img/file.png);
      background-size: contain;
    }
  
    &__description {
      display: flex;
      gap: .2rem;
      margin-left: 1rem;
    }
  
  }